


/* color */
.logo-1{
    color: #4E47FF;
}

/* header */
.header{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    margin: 0 auto;
}
/* bannar part*/

.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    align-items: center;
}


.content{
    text-align: center;
    padding: 200px;

}

.first-description{
    font-size: 65px;
    font-weight: bold;
    color: #282432;
}


/* bannar part 2 */
.second-part{
    display: flex;
  
    background-color:#D6DDED;
    border: radius 15px;
  margin: 100px 80px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.second-description{
    font: size 20px;
   color: #666566;
}


/* main styles */
main{
max-width: 1140px;
margin: 0 auto;
}

/* part-3 */

.third-part{
     text-align: center;
    align-items: center;
    background-color: #D6DDED;
    padding: 50px 150px;
    border-radius: 15px;
}
.items{
    display: flex;
   justify-content: space-around;
  }

.item title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 30px;
}

/*SKILLS SECTION  */
.comment{
    display: flex;
  
}

.full-skills{
    background-color:#D6DDED ;
    padding: 15px;
}


.finall-skills{
    display: flex;
    justify-content: space-around;
}
 
h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}


.form-section{
    display: flex;
    gap: 100px;
    padding: 100px;
    justify-content: center;
        background-color:#D6DDED ;
}

.c-1{
    font-size: 100px;
    font-weight: bold;
}

.form{
    display:block
    weight:50%;
}

/* footer */
.footer-text{
    text-align: center;
}

    
/* button section */
.btn{
    font-size:15px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;
  


}


.pic-1{
    border-radius: 15px;
    width: 400px;
}


